<html>
    <head>
        <link rel="stylesheet" href="/static/css/index-style.css">
    </head>

    <body>
        <div class="container">
            <div class="dateContainerBackground">
                <div class="toppane">
                    <h1>FreebieFinder</h1>
                </div>
            </div>

            <div class="dateContainerBackground">
                <div id="freebies">
                    {%for date in freebies%}
                        <h3 class="day">
                            {{ date }}
                        </h3>
                        {%for event in freebies[date]%}
                        <h3>
                            <a class="links" href={{ event[0] }} target="_blank">{{ event[1] }}</a>
                        </h3>
                        {%endfor%}
                    {%endfor%}
                </div>
            </div>    
        </div>
    </body>
</html>
